@media (max-width: 1120px) {
  .cabecalho .logo {
    max-width: 190px;
  }

  .selecao-de-personagems {
    flex-direction: column-reverse;
    max-width: 430px;
    margin: 0 auto;
    gap: 0px;
  }

  .selecao-de-personagems .personagems {
    margin-top: 37px;
  }

  .selecao-de-personagems .personagems .titulo {
    font-size: 15px;
  }

  .selecao-de-personagems .lista-de-personagems {
    gap: 9px;
  }

  .selecao-de-personagems .personagem img {
    width: 80px;
  }

  .personagem-selecionado .personagem-grande {
    width: 350px;
    height: 350px;
  }

  .personagem-selecionado .descricao-personagem {
    width: 80%;
    font-size: 16px;
    margin: 20px auto;
  }
}